/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  box-sizing: border-box;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#header-image {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  text-align: center;
  color: #333;
  font-size: 12px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #555;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

#restart-process {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

#restart-process:hover {
  background-color: #c82333;
  border: 1px solid #c82333;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  flex: 1;
}

#map {
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

#photo-preview {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

/* Informações exibidas no centro */
#info {
  text-align: center;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #777;
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 500px) {

  h1,
  h2 {
    font-size: 18px;
  }

  button {
    font-size: 13px;
    padding: 8px;
  }
}
